# Dependency directories
node_modules/

# Nuxt.js build / generate output
.nuxt
dist

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
